.loginForm {
  display: flex;
  justify-content: center;
  text-align: center;
}
.loginHeader {
  text-align: center;
  background-color: aliceblue;
  h1 {
    color: #007b8b;
  }
}
.registerTxt {
  color: #007b8b;
}